<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebJogos </title>
    <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Home">WebJogos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Home">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Biblioteca</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Home/Cadastrar">Adicionar</a>
                                <a class="dropdown-item" href="/Home/Listar">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lista de Desejos</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Home/Cadastrar">Adicionar</a>
                                <a class="dropdown-item" href="/Home/Listar">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Privacy">Privacidade</a>
                        </li>
                    </ul>
                    <form class="d-flex" id="searchForm" asp-controller="Home" asp-action="PesquisarJogo">
                        <input class="form-control me-sm-2" type="search" placeholder="Search" id="searchInput">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        $('#searchForm').submit(function (e) {
            var termo = $('#searchInput').val();
            if (termo) {

                window.location.href = '/Home/PesquisarJogo?termo=' + termo;
            }
            e.preventDefault();
        });
    });

</script>
