@{
    ViewData["Title"] = "Política de Privacidade";
}
<h3 class="mt-3">@ViewData["Title"]</h3>

<p>Nossa política de privacidade é destinada a proteger suas informações pessoais e garantir que você se sinta seguro ao utilizar nossos serviços. Nós respeitamos sua privacidade e estamos comprometidos em proteger e manter suas informações pessoais em sigilo.</p>
<h3>Coleta de Informações</h3>
<p>Coletamos informações pessoais apenas quando estritamente necessário para fornecer nossos serviços. Essas informações podem incluir seu nome, endereço de e-mail e outras informações de contato. Não compartilhamos suas informações com terceiros sem o seu consentimento.</p>
<h3>Uso de Informações</h3>
<p>As informações pessoais coletadas são usadas apenas para os fins específicos para os quais foram fornecidas. Isso pode incluir o processamento de pedidos, fornecimento de suporte ao cliente e comunicação relacionada aos nossos serviços.</p>
<h3>Segurança de Dados</h3>
<p>Utilizamos medidas de segurança adequadas para proteger suas informações contra acesso não autorizado, perda ou alteração. Nosso compromisso é garantir que suas informações estejam seguras.</p>
<h3>Cookies e Rastreamento</h3>
<p>Podemos utilizar cookies e tecnologias de rastreamento para melhorar sua experiência em nosso site. Esses dados são usados apenas para fins de análise e aprimoramento de nossos serviços.</p>
<h3>Alterações na Política de Privacidade</h3>
<p>
    Reservamo-nos o direito de fazer alterações em nossa política de privacidade a qualquer momento. Quaisquer alterações serão publicadas em nosso site. Recomendamos verificar periodicamente nossa política de privacidade para estar ciente de eventuais atualizações.

    Lembre-se de que este é apenas um exemplo básico e que a política de privacidade pode precisar ser adaptada às suas necessidades específicas e às regulamentações aplicáveis em sua região. Além disso, é importante consultar um profissional jurídico para garantir que sua política de privacidade esteja em conformidade com todas as leis relevantes.
</p>